name: Build Pebble App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: |
          docker run --rm -v ${{ github.workspace }}:/pebble -w /pebble pebbledev/pebble-sdk:latest pebble build
          sudo chown -R $USER build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pebble-app
          path: build/*.pbw
